Repository cubefs/cubefs, pull requests merged in 2020-06, with the labels that each got.

#595 Fix: fix the bug of listing multipart uploads, and add check for requ…
  docker/s3tests/test_copy_object.py
  docker/s3tests/test_list_uploads.py
  metanode/multipart.go
  metanode/partition_op_multipart.go
  objectnode/api_handler_multipart.go
  objectnode/const.go
  objectnode/fs_volume.go
  objectnode/result.go
  objectnode/result_error.go
  objectnode/result_test.go
  proto/fs_proto.go
  sdk/meta/api.go
  sdk/meta/operation.go
  util/multipart.go
Labels: bug, component/objectnode, enhancement, interface/s3

#603 Enhancement: Sort the common prefix list
  objectnode/fs_volume.go
Labels: bug, component/objectnode, enhancement, interface/s3, priority/high

#601 Refactor:Metanode gets all dataPartitions of vol more quickly
  metanode/partition_free_list.go
Labels: component/metanode, enhancement

#600 add batchDelete feature
  datanode/partition.go
  datanode/wrap_operator.go
  datanode/wrap_prepare.go
  metanode/packet.go
  metanode/partition_free_list.go
  proto/extent_key.go
  proto/model.go
  proto/packet.go
  storage/extent_store.go
  vendor/github.com/tiglabs/raft/raft_fsm.go
Labels: component/datanode, component/metanode, enhancement

#586 add batch delete inode unlink evict dentry
  metanode/btree.go
  metanode/const.go
  metanode/dentry.go
  metanode/inode.go
  metanode/manager.go
  metanode/manager_op.go
  metanode/partition.go
  metanode/partition_fsm.go
  metanode/partition_fsmop_dentry.go
  metanode/partition_fsmop_inode.go
  metanode/partition_op_dentry.go
  metanode/partition_op_inode.go
  proto/fs_proto.go
  proto/packet.go
Labels: component/metanode, enhancement

#636 Enhancement: add support for modifying part system metadata, self def…
  docker/script/start_datanode.sh
  docker/script/start_master.sh
  docker/script/start_meta.sh
  docker/script/start_objectnode.sh
  metanode/multipart.go
  metanode/multipart_test.go
  metanode/partition_op_multipart.go
  objectnode/api_handler_multipart.go
  objectnode/fs_volume.go
  proto/fs_proto.go
  sdk/meta/api.go
  sdk/meta/operation.go
Labels: component/objectnode, enhancement, interface/s3, priority/normal

#646 Metanode use sorted list for extent tree
  metanode/extents.go
  metanode/inode.go
  metanode/partition.go
  metanode/partition_delete_extents.go
  metanode/partition_free_list.go
  metanode/partition_fsmop_inode.go
  metanode/partition_op_extent.go
  metanode/sorted_extents.go
  metanode/sorted_extents_test.go
Labels: component/metanode

#645 Enhancement: Add exception request monitor via status code, such as 4…
  objectnode/api_context.go
  objectnode/api_middleware.go
  objectnode/result_error.go
Labels: component/objectnode, enhancement, interface/s3

#634 Enhancement: improve metadata persist
  metanode/const.go
  metanode/dentry.go
  metanode/extend.go
  metanode/inode.go
  metanode/partition.go
  metanode/partition_fsm.go
  metanode/partition_store.go
  metanode/partition_store_ticket.go
  metanode/sorted_extents.go
  proto/extent_key.go
Labels: component/metanode

#658 fix: Display inode count and dentry count in `admin/getVol` and `me…
  cli/cmd/fmt.go
  master/api_service.go
  master/meta_partition.go
  proto/admin_proto.go
Labels: DO NOT MERGE

#661 Fix: Change the logic of listing multipart uploads while just having …
  metanode/partition_op_multipart.go
  objectnode/api_handler_object.go
Labels: bug, component/objectnode, enhancement, interface/s3

#668 Fix: metadata modification
  metanode/partition_fsmop_extend.go
  metanode/partition_fsmop_multipart.go
Labels: bug, component/metanode, priority/high

#671 Fix: isssue in metapartition apply raft snapshot
  metanode/partition_fsm.go
Labels: bug, component/metanode, priority/high

#685 Fix: Solve the problem that back-end report “NotExistErr” error when …
  objectnode/fs_volume.go
Labels: bug, component/objectnode, interface/s3, priority/normal

#691 Fix: change the logic sorting list multipart upload result and supply…
  docker/s3tests/test_list_uploads.py
  sdk/meta/api.go
Labels: component/objectnode, enhancement, interface/s3, priority/normal

#697 Refactor: datanode TinyExtentDeleteRecord sync MinDeleteRecordSize ch…
  datanode/const.go
  datanode/data_partition_repair.go
  datanode/partition.go
  datanode/partition_raft.go
  datanode/partition_raftfsm.go
  datanode/server.go
  datanode/server_handler.go
  datanode/wrap_operator.go
Labels: component/datanode, enhancement, priority/normal

#702 Fix: unexpected failure when creating volume
  master/cluster.go
Labels: bug, component/master
