Repository cubefs/cubefs, pull requests merged in 2020-05, with the labels that each got.

#540 Multiple enhancements and issue fixes
  cli/cmd/fmt.go
  cli/cmd/user.go
  cli/cmd/vol.go
  docker/s3tests/base.py
  docker/s3tests/env.py
  docker/s3tests/requirements.txt
  docker/s3tests/test_bucket.py
  docker/s3tests/test_object_head.py
  docker/s3tests/test_object_put.py
  docker/s3tests/test_put_object.py
  docker/s3tests/test_signature.py
  docker/s3tests/test_tagging.py
  docker/s3tests/test_transfer.py
  docker/script/run_test.sh
  docker/script/start_client.sh
  master/api_service.go
  master/cluster.go
  master/vol.go
  objectnode/api_handler_bucket.go
  objectnode/api_handler_multipart.go
  objectnode/api_handler_object.go
  objectnode/auth_signature_v2.go
  objectnode/auth_signature_v4.go
  objectnode/const.go
  objectnode/etag.go
  objectnode/etag_test.go
  objectnode/fs.go
  objectnode/fs_volume.go
  objectnode/result.go
  objectnode/result_error.go
  objectnode/result_test.go
  objectnode/router.go
  objectnode/server.go
  objectnode/util.go
  sdk/meta/api.go
Labels: bug, component/objectnode, enhancement, interface/s3, priority/high

#548 Enhancement: add support for parallel download
  docker/s3tests/test_transfer.py
  objectnode/api_handler_object.go
  objectnode/const.go
Labels: bug, component/objectnode, enhancement, interface/s3

#554 Update related documents of ObjectNode
  docs/source/design/objectnode.rst
  docs/source/user-guide/objectnode.rst
Labels: priority/normal

#543 Enhancement: store or check metanode, datanode port before start
  datanode/partition_raft.go
  metanode/const.go
  metanode/metanode.go
  util/config/config.go
Labels: enhancement, priority/normal

#563 Fix: rewrite copy object function
  objectnode/api_handler_object.go
  objectnode/const.go
  objectnode/fs_volume.go
  objectnode/result_error.go
  objectnode/util.go
  proto/user_proto.go
Labels: DO NOT MERGE, bug, component/objectnode, enhancement, interface/s3

#562 Enhancement: skip failed host when sendToPartition
  sdk/data/stream/stream_conn.go
  sdk/data/wrapper/data_partition.go
  sdk/data/wrapper/wrapper.go
Labels: enhancement

#553 Fix: parallel-safe issue in conn pool and metanode conn serve
  docker/s3tests/test_object_put.py
  docker/script/run_test.sh
  metanode/manager.go
  metanode/manager_op.go
  metanode/manager_proxy.go
  metanode/multipart.go
  metanode/partition_fsmop_multipart.go
  metanode/server.go
  objectnode/api_handler_bucket.go
  objectnode/api_handler_multipart.go
  objectnode/api_handler_object.go
  objectnode/api_middleware.go
  objectnode/auth_signature_v4.go
  objectnode/const.go
  objectnode/fs_volume.go
  objectnode/result.go
  objectnode/result_error.go
  objectnode/router.go
  objectnode/signer.go
  objectnode/util.go
  proto/packet.go
  sdk/meta/conn.go
  util/conn_pool.go
Labels: bug, component/metanode, component/objectnode, enhancement, interface/s3, priority/high

#566 Fix: allow for bucket acl owner operation
  objectnode/acl.go
  objectnode/policy.go
Labels: component/objectnode, interface/s3

#574 Enhancement: Add support for header Content-Disposition
  objectnode/api_handler_object.go
  objectnode/fs.go
  objectnode/fs_volume.go
Labels: component/objectnode, enhancement, interface/s3

#507 Feature: support CORS access control
  docker/conf/objectnode.json
  objectnode/acl.go
  objectnode/acl_handler.go
  objectnode/api_middleware.go
  objectnode/const.go
  objectnode/cors.go
  objectnode/cors_handler.go
  objectnode/fs_store_xattr.go
  objectnode/fs_volume.go
  objectnode/policy_handler.go
  objectnode/router.go
  proto/perm_action.go
Labels: component/objectnode, enhancement, interface/s3, priority/normal

#578 Fix: multipart part inode release issue
  metanode/partition_op_inode.go
Labels: bug, component/metanode, priority/high

#582 Fix: metanode freeInode bug and optimize delete speed
  metanode/free_list.go
  metanode/manager_op.go
  metanode/partition.go
  metanode/partition_free_list.go
  proto/admin_proto.go
Labels: bug

#577 Fix: change type of generating multipart upload id, and change to fin…
  .gitignore
  docker/docker-compose.yml
  docker/run_docker.sh
  docker/script/run_test.sh
  docker/script/start_client.sh
  metanode/partition_op_multipart.go
  objectnode/fs_volume.go
  sdk/meta/api.go
  sdk/meta/operation.go
  util/multipart.go
Labels: component/objectnode, enhancement, interface/s3, priority/normal

#576 fix: persistance when delete user, and add master api to view users of volume
  master/api_service_test.go
  master/api_service_user.go
  master/http_server.go
  master/user.go
  proto/admin_proto.go
  proto/errors.go
  proto/user_proto.go
  sdk/master/api_user.go
Labels: bug, component/master, priority/normal

#589 enhancement: add 'Expires' and 'Cache-Control' when putObject
  objectnode/api_handler_object.go
  objectnode/const.go
  objectnode/fs.go
  objectnode/fs_volume.go
  objectnode/result_error.go
  objectnode/util.go
Labels: component/objectnode, enhancement, interface/s3, priority/normal
