Repository cubefs/cubefs, pull requests merged in 2020-04, with the labels that each got.

#462 feature: add test cases about user api
  master/api_service_test.go
Labels: component/master, enhancement, priority/normal

#465 Fix: user name verification issues
  master/api_service_user.go
  proto/errors.go
Labels: bug, component/master, priority/high

#467 Fix: If the metapartition or data partition raft peers does not have …
  datanode/partition_raft.go
  metanode/partition_fsmop.go
Labels: component/datanode, priority/high

#470 Ehancement: add routing for unimplemented APIs
  objectnode/acl.go
  objectnode/api_handler.go
  objectnode/api_handler_bucket.go
  objectnode/policy_handler.go
  objectnode/result.go
  objectnode/router.go
  objectnode/util.go
  proto/model.go
  proto/perm_action.go
  util/buf/buffer_pool.go
  util/config/config.go
  util/exporter/alarm.go
  util/keystore/akstore.go
  util/master_helper.go
Labels: component/objectnode, enhancement, interface/s3, priority/normal

#472 enhance: filter target meta partitions in batch iget
  sdk/meta/api.go
Labels: enhancement, priority/normal

#474 Enhancement: add prometheus metrics for objectnode
  docker/conf/objectnode.json
  docker/docker-compose.yml
  docker/monitor/grafana/provisioning/dashboards/chubaofs.json
  objectnode/api_middleware.go
  objectnode/server.go
  proto/perm_action.go
  util/exporter/exporter.go
Labels: component/objectnode, enhancement

#475 Update CHANGELOG from v1.5.1 to v2.0.0
  CHANGELOG.md
Labels: DO NOT MERGE

#476 Fix: signature calculation issue in continuous separators
  objectnode/auth_signature_v4.go
Labels: bug, compatibility, component/objectnode, enhancement, interface/s3, priority/high

#477 Fix: remove useless information from changelog
  CHANGELOG.md
Labels: priority/high

#478 Enhancement: add log map for docker-compose
  .gitignore
  docker/docker-compose.yml
Labels: enhancement

#479 Update README.md
  README.md
Labels: enhancement, priority/high

#471 Enhancement: add support for 'if-match' precondition in header object…
  objectnode/api_handler_object.go
  objectnode/const.go
  objectnode/result_error.go
  objectnode/util.go
Labels: compatibility, component/objectnode, enhancement, interface/s3, priority/normal

#490 Fix: third-party license information
  NOTICE
  objectnode/acl.go
  objectnode/acl_handler.go
  objectnode/acl_test.go
  objectnode/api_context.go
  objectnode/api_handler.go
  objectnode/api_handler_bucket.go
  objectnode/api_handler_multipart.go
  objectnode/api_handler_object.go
  objectnode/api_middleware.go
  objectnode/auth.go
  objectnode/auth_signature_v2.go
  objectnode/auth_signature_v4.go
  objectnode/auth_signature_v4_test.go
  objectnode/chunk.go
  objectnode/chunk_test.go
  objectnode/const.go
  objectnode/fs.go
  objectnode/fs_manager.go
  objectnode/fs_store.go
  objectnode/fs_store_object.go
  objectnode/fs_store_user.go
  objectnode/fs_store_xattr.go
  objectnode/fs_volume.go
  objectnode/fs_volume_test.go
  objectnode/policy.go
  objectnode/policy_action.go
  objectnode/policy_condition.go
  objectnode/policy_handler.go
  objectnode/policy_handler_test.go
  objectnode/policy_statement.go
  objectnode/policy_test.go
  objectnode/result.go
  objectnode/result_error.go
  objectnode/result_test.go
  objectnode/router.go
  objectnode/server.go
  objectnode/signer.go
  objectnode/stringset.go
  objectnode/util.go
  objectnode/wildcard.go
  objectnode/wildcard_test.go
  proto/perm_action.go
Labels: enhancement, priority/high

#492 Enhancement: add support for disable some actions via configurations …
  docker/conf/objectnode.json
  objectnode/api_middleware.go
  objectnode/server.go
Labels: component/objectnode, enhancement, interface/s3

#493 Refactor: wrap and use built-in chunked reader
  objectnode/api_middleware.go
  objectnode/chunk.go
  objectnode/chunk_test.go
Labels: component/objectnode, enhancement, interface/s3, priority/low

#494 feature: introduce fsyncOnClose mount option
  client/fs/file.go
  client/fs/super.go
  client/fuse.go
  proto/mount_options.go
  util/config/config.go
Labels: component/cli, enhancement, interface/posix, priority/normal

#498 Refactor: proccess on token validation
  client/fs/super.go
  client/fuse.go
  clientv2/fs/super.go
  clientv2/main.go
  sdk/meta/meta.go
  sdk/meta/view.go
Labels: component/objectnode, priority/high

#500 Fix ObjectNode: When overwriting a file, if updating the new inode to…
  objectnode/fs_volume.go
Labels: component/objectnode, interface/s3, priority/high

#503 Fix: modify master vol usedGB metrics collect bugs
  master/monitor_metrics.go
  util/exporter/counter.go
  util/exporter/gauge.go
  util/exporter/util.go
Labels: component/master, enhancement, priority/normal

#508 Enhancement: compatible with older version S3 credential
  objectnode/auth_signature_v2.go
  objectnode/auth_signature_v4.go
  objectnode/policy.go
  proto/user_proto.go
Labels: component/objectnode, enhancement, interface/s3, priority/normal, security

#510 change: dump version in output log
  client/fuse.go
Labels: component/client, enhancement

#509 Fix: empty result due to file deletion during list operation
  objectnode/api_handler_object.go
  objectnode/fs_volume.go
Labels: component/objectnode, enhancement, interface/s3, priority/normal

#513 Enhancement: increase logging information
  objectnode/api_handler_object.go
  objectnode/fs_volume.go
Labels: enhancement

#514 Enhancement: add python-based test script for S3 APIs
  docker/docker-compose.yml
  docker/s3tests/requirements.txt
  docker/s3tests/s3tests.conf
  docker/s3tests/s3tests.txt
  docker/s3tests/test_put_object.py
  docker/script/run_test.sh
  docker/script/start_client.sh
  objectnode/api_handler_bucket.go
  objectnode/result.go
Labels: enhancement

#515 Fix:change object last modified time zone to UTC
  objectnode/api_handler_object.go
Labels: bug, component/objectnode, enhancement, interface/s3, priority/high

#516 Fix: precondition parsing issue
  objectnode/api_handler.go
  objectnode/api_handler_bucket.go
  objectnode/api_handler_object.go
  objectnode/fs_volume.go
  objectnode/result.go
  objectnode/result_test.go
Labels: component/objectnode, interface/s3, priority/high

#518 Fix: too many http transport goroutine in process
  objectnode/api_handler_object.go
  sdk/master/client.go
Labels: enhancement, priority/normal

#525 Fix: create time format of list buckets
  docker/conf/nginx.conf
  objectnode/api_handler_bucket.go
  objectnode/api_middleware.go
  objectnode/const.go
  objectnode/fs_volume.go
  objectnode/result.go
Labels: interface/s3, priority/normal

#530 Fix: signature calculation with chinese character
  objectnode/auth_signature_v2.go
  objectnode/auth_signature_v4.go
Labels: bug, component/objectnode, interface/s3, priority/high

#527 Enhancement: allow volome owener policy check when not deny
  objectnode/acl.go
  objectnode/policy.go
Labels: component/objectnode, interface/s3, priority/normal, security

#531 Enhancement: choose a random port for pprof when user has not set pro…
  client/fuse.go
Labels: component/client, enhancement, priority/low

#535 Fix: issue on fetching etag data
  docker/s3tests/test_put_object.py
  objectnode/const.go
  objectnode/fs_volume.go
Labels: interface/s3, priority/high, priority/normal

#534 Fix: datestamp validation on signature v4
  docker/conf/nginx.conf
  docker/s3tests/test_put_object.py
  docker/script/run_test.sh
  objectnode/api_middleware.go
  objectnode/auth_signature_v4.go
  objectnode/const.go
  objectnode/server.go
Labels: component/objectnode, interface/s3, priority/normal

#532 Fix: xml element of DeleteResult
  objectnode/api_handler_multipart.go
  objectnode/api_handler_object.go
  objectnode/fs_volume.go
  objectnode/result.go
  sdk/meta/meta.go
Labels: interface/s3, priority/normal
