Repository cubefs/cubefs, pull requests merged in 2020-08, with the labels that each got.

#807 Enhancement: handle ump warnning and "access not exist" error log info
  objectnode/api_handler_multipart.go
  objectnode/api_middleware.go
  sdk/master/client.go
Labels: component/objectnode, enhancement, interface/s3

#801 Enhancement: set/get zone info and etc. in cli; Doc: update Q&A, environment spec
  cli/cmd/cluster.go
  cli/cmd/compatibility.go
  cli/cmd/config.go
  cli/cmd/const.go
  cli/cmd/datanode.go
  cli/cmd/datapartition.go
  cli/cmd/fmt.go
  cli/cmd/metanode.go
  cli/cmd/metapartition.go
  cli/cmd/root.go
  cli/cmd/user.go
  cli/cmd/valid.go
  cli/cmd/vol.go
  cli/cmd/zone.go
  docker/script/start_client.sh
  docs/source/admin-api/cli/cli.rst
  docs/source/admin-api/master/cluster.rst
  docs/source/csv/env.csv
  docs/source/csv/performance-client.csv
  docs/source/csv/performance-volume.csv
  docs/source/env.rst
  docs/source/evaluation.rst
  docs/source/faq.rst
  docs/source/index.rst
  docs/source/operations.rst
  docs/source/pic/nodeset.png
  docs/source/pic/upgrade-en.png
  master/api_service.go
  master/cluster.go
  master/cluster_task.go
  master/gapi_cluster.go
  proto/admin_proto.go
  proto/model.go
  sdk/master/api_admin.go
Labels: enhancement

#816 Fix: fix exporter vol usage ratio error
  docker/monitor/grafana/provisioning/dashboards/chubaofs.json
  master/monitor_metrics.go
  util/exporter/counter.go
  util/exporter/exporter.go
  util/exporter/gauge.go
  util/exporter/timepoint.go
Labels: bug

#824 Fix: when datanode or metanode start,the master has no anyPartition,t…
  datanode/disk.go
  metanode/manager.go
Labels: bug, component/datanode, component/metanode

#810 feature: add near read support
  client/fs/super.go
  client/fuse.go
  proto/mount_options.go
  sdk/data/stream/extent_client.go
  sdk/data/stream/stream_conn.go
  sdk/data/wrapper/data_partition.go
  sdk/data/wrapper/wrapper.go
  util/iputil/addrselect.go
  util/iputil/ip.go
Labels: component/client, enhancement, priority/normal

#842 Refactor: add autoRepair limit on datanode and autoRepairExtent skip unavali extent repair task
  datanode/data_partition_repair.go
  datanode/disk.go
  datanode/limit.go
  datanode/nodeinfo.go
  datanode/partition.go
  datanode/space_manager.go
  datanode/wrap_operator.go
  storage/extent_store.go
Labels: component/datanode

#851 Enhance: datanode optmize performance When there are many extents
  datanode/partition.go
  datanode/wrap_operator.go
  storage/extent_store.go
Labels: component/datanode, enhancement

#854 Update README.md
  README.md
Labels: documentation

#856 Update README.md that change 'meeting notes' to 'meeting minutes'.
  README.md
Labels: documentation
