Repository cubefs/cubefs, pull requests merged in 2024-02, with the labels that each got.

#3067 feat(access): add volume allocation and lease retain functions for access
  blobstore/access/controller/allocator_mock_test.go
  blobstore/access/controller/cluster.go
  blobstore/access/controller/cluster_test.go
  blobstore/access/controller/mock_test.go
  blobstore/access/controller/volumemgr.go
  blobstore/access/controller/volumemgr_test.go
  blobstore/access/controller_mock_test.go
  blobstore/access/stream_alloc.go
  blobstore/access/stream_alloc_test.go
  blobstore/access/stream_loop.go
  blobstore/access/stream_mock_test.go
  blobstore/access/stream_put_test.go
  blobstore/api/clustermgr/volume.go
Labels: component/blobstore

#3077 feat(blobnode): add checkpoint for inspectmgr of blobnode
  blobstore/access/controller/cluster_test.go
  blobstore/access/controller/service_test.go
  blobstore/blobnode/config.go
  blobstore/blobnode/datainspect.go
  blobstore/blobnode/datainspect_test.go
Labels: component/blobstore/blobnode

#3096 feat(master): minor code and comment refactoring
  authtool/authtool.go
  depends/bazil.org/fuse/fs/serve.go
  depends/tiglabs/raft/proto/proto.go
  depends/tiglabs/raft/raft.go
  depends/tiglabs/raft/util/io.go
  deploy/cmd/cluster.go
  fdstore/fdstore.go
  fsck/cmd/getInfo.go
  raftstore/partition.go
  sdk/data/manager/limiter.go
  sdk/data/wrapper/wrapper.go
  util/smux_conn_pool.go
Labels: first good pr
